* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

i {
    color: white;
}

body {
    height: 100vh;
  }

.nav-bar {
    display: flex;
    background-color: rgb(29, 27, 44);
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.nav-logo {
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.nav-logo h1{
    color: rgb(27, 160, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-toggle {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
    
  }

ul {
    flex-direction: column;
  justify-content: center;
  padding-left: 0;
  display: none;
}

ul li{
    font-size: 15px;
    margin: 20px;
    text-align: center;
    padding: 5px 50px;
    font-weight: bold;
}

.menu-i {
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    transition: 0.5s;
    
}

.menu-i:hover {
    border-bottom: 1px solid rgb(46, 212, 73);
    transition: 0.5s;
    color: rgb(27, 160, 49);
    
}

.active {
    display: flex;
  }

  @media screen and (min-width: 800px) {
    .nav-bar {
      height: 80px;
      flex-direction: row;
    }
  
    .nav-logo {
      padding-left: 40px;
      padding-right: 50px;
      margin: 0;
      width: 50%;
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      flex-direction: row;
    }
  
    ul li {
      display: inline-block;
      margin: 0 31px 0 0;
      text-align: center;
      padding: 0;
    }
  
    .nav-toggle {
      display: none;
    }
  }

.background-menu {
  position: relative;
  height: auto;
}

.background {
  width: 100%;
  height: 100%;
  background-color:rgb(29, 27, 44) ;
  padding-bottom: 100px;
}

.background-content {
  height: auto;
  width: 80%;
  margin-left: 280px;
  display: flex;
  padding-top: 300px;
}



.bg-text-b {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 3px;
  font-size: 45px;
  color: rgb(27, 160, 49);
}

.bg-text-s {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 50px;
  color: white;
  padding-bottom: 50px;
}

.bg-button{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgb(27, 160, 49);
  padding:  10px 25px;
  border-radius: 13px;
  transition: 1s;
}

.bg-button:hover{
  transition: 1s;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(96, 231, 119);
  padding:  13px 35px;
  border-radius: 13px;
}

.background-img img{
  width: 400px;
  border-radius: 15px;
  margin-left: 100px;
  border-top: 5px solid rgb(27, 160, 49);
  border-bottom: 5px solid rgb(27, 160, 49);
  box-shadow: 0px 0px 10px 1px rgb(33, 187, 13);
  height: 100%;
  top: -150px;
  position: relative;
}

@media screen and (max-width : 1667px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 200px;
    display: flex;
    padding-top: 300px;
  }
}

@media screen and (max-width : 1170px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 150px;
    display: block;
    padding-top: 100px;
    text-align: center;
  }

  .background-img img{
    width: 350px;
    border-radius: 15px;
    margin-left: 50px;
    top: 70px;
    position: relative;
  }
}

@media screen and (max-width : 993px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 100px;
    display: block;
    padding-top: 60px;
    text-align: center;
  }

  .background-img img{
    width: 350px;
    border-radius: 15px;
    margin-left: 50px;
    top: 50px;
    position: relative;
  }
}

@media screen and (max-width : 679px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 60px;
    display: block;
    padding-top: 50px;
    text-align: center;
  }

  .background-img img{
    width: 320px;
    border-radius: 15px;
    margin-left: 50px;
    top: 50px;
    position: relative;
  }
}

@media screen and (max-width : 528px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 60px;
    display: block;
    padding-top: 20px;
    text-align: center;
  }

  .background-img img{
    width: 300px;
    border-radius: 15px;
    margin-left: 50px;
    top: 50px;
    position: relative;
  }
}

@media screen and (max-width : 455px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 30px;
    display: block;
    padding-top: 10px;
    text-align: center;
  }

  .background-img img{
    width: 250px;
    border-radius: 15px;
    margin-left: 30px;
    top: 50px;
    position: relative;
  }

  .bg-text-b {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
    color: rgb(27, 160, 49);
  }
  
  .bg-text-s {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
  }
}

@media screen and (max-width : 391px) {
  .background-content {
    height: auto;
    width: 80%;
    margin-left: 20px;
    display: block;
    padding-top: 10px;
    text-align: center;
  }

  .background-img img{
    width: 200px;
    border-radius: 15px;
    margin-left: 20px;
    top: 50px;
    position: relative;
  }

  .bg-text-b {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    font-size: 28px;
    color: rgb(27, 160, 49);
  }
  
  .bg-text-s {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
  }
}


.header-menu {
  position: relative;
  height: auto;
  padding-bottom: 200px;
}

.header {
  width: 100%;
  height: 100%;
  background-color:rgb(255, 255, 255) ;
}

.header-content {
  height: auto;
  width: 80%;
  margin-left: 210px;
  padding-top: 330px;
  text-align: center;
  
}

.header-text-b {
  text-indent: 50px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding-right: 250px;
  padding-left: 210px;
  padding-bottom: 50px;
}

.hearder-button {
  font-size: 30px;
  color: white;
  background-color: rgb(27, 160, 49);
  padding:  10px 25px;
  border-radius: 13px;
  transition: 1s;
}

.hearder-button:hover{
  transition: 1s;
  font-size: 32px;
  color: white;
  background-color: rgb(96, 231, 119);
  padding:  11px 30px;
  border-radius: 13px;
}

@media screen and (max-width : 1301px) {
  .header-content {
    height: auto;
    width: 80%;
    margin-left: 100px;
    padding-top: 330px;
    text-align: center;
    
  }

  .header-text-b {
    text-indent: 50px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width : 781px) {
  .header-content {
    height: auto;
    width: 80%;
    margin-left: 50px;
    padding-top: 250px;
    text-align: center;
    
  }

  .header-text-b {
    text-indent: 50px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width : 375px) {
  .header-content {
    height: auto;
    width: 80%;
    margin-left: 30px;
    padding-top: 150px;
    text-align: center;
    
  }

  .header-text-b {
    text-indent: 50px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  
}

.footer {
  background-color: rgb(29, 27, 44);
  width: 100%;
  height: 60px;
}

.footer-text {
  color: white;
  text-align: center;
}

.footer-text-t {
  font-weight: lighter;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  padding-top: 15px;
}